.bgNav {
  background-color: #004aad;
}
.linkItem{
    margin-left: 1rem;
}
.iconFormat ,.iconHome {
  height: 45px;
  width: 45px;
  margin-left: 29px;
}

.textHome {
  font-size: 20px;
  width: 90px;
  height: 30px;
  margin-top: 17px;
}
.text {
  font-size: 18px;
  width: 100px;
  height: 50px;
  line-height: 24.2px;
  margin-top: 5px;
  font: inherit;
}
@media only screen and (max-width: 576px) {
  .linkItem{
    margin-left: 2rem;
  }
}
